.coin {
  background-color: #bbbbbb;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  margin: 1rem 1.5rem;
  position: relative;
  color: #635f5f;
}

.coinValue {
  transform: translate(0%, 84%);
  display: flex;
  justify-content: center;
  margin: 0;
}

.topOverlay {
  border-radius: 50px 50px 0 0;
  height: 2rem;
  position: relative;
  opacity: .5;
  transform: translate(0%, -75%);
}

.bottomOverlay {
  border-radius: 0 0 50px 50px;
  height: 2rem;
  position: relative;
  opacity: .5;
  transform: translate(0%, -75%);
}

.topOverlay:hover {
  background-color: green;
  cursor: n-resize;
}

.bottomOverlay:hover {
  background-color: red;
  cursor: s-resize;
}

.notiOn {
  transform: translate(0%, -125%);
}

/*.sv {
  transform: translate(43%, 84%);
}*/
