.coin {
  background-color: #bbbbbb;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  margin: 1rem 1.5rem;
  position: relative;
  color: #635f5f;
}

.coin:hover{
  cursor: ns-resize;
}

.coinValue {
  transform: translate(0%, 84%);
  display: flex;
  justify-content: center;
  margin: 0;

}

/*.sv {
  transform: translate(43%, 84%);
}*/
